{{outlet}}

<h1>Profile</h1>

{{input value=model.name type="text" placeholder="Name" autofocus="autofocus"}}

{{#file-picker fileLoaded="photoAdded" readAs="readAsDataURL" preview=false accept="image/*"}}
  <button type="button" name="button">Click to upload a photo</button>
{{/file-picker}}

{{#file-picker fileLoaded="galleryAdded" readAs="readAsDataURL" preview=false accept="image/*"}}
  <button type="button" name="button">Click to upload to gallery</button>
{{/file-picker}}

<button {{action 'save' model}} class="save" type="button" name="button">Save</button>

<hr>

<dl>
  {{#each profiles as |profile|}}
  {{!-- {{log profile}} --}}
    <dt>{{profile.name}}</dt>
    <dd class="images-container">
      {{#each profile.photo as |photo|}}
        <img height="60px" width="80px" src="{{photo.data}}" alt="{{profile.name}}">
      {{/each}}
    </dd>
  {{/each}}
</dl>
